<footer>
    <ul>
        <li>
            <i class="fa-solid fa-address-card"></i><br>
            <span class="span-bold"><strong>REGÍSTRATE</strong></span><br>
            <span>Regístrate para recibir todas las noticias referentes a Global 007 Store</span>
        </li>
        <br>
        <li>
            <i class="fa-sharp fa-solid fa-ticket"></i><br>
            <span class="span-bold"><strong>COMPRA TUS ENTRADAS</strong></span><br>
            <span>Adquiere entradas a eventos únicos con tarjeta de crédito o paypal </span>
        </li> 
        <br>
        <li>
            <i class="fa-solid fa-envelope"></i><br>
            <span class="span-bold"><strong>CONTÁCTANOS</strong></span><br>
            <span>Si quieres saber más acerca de la Global 007 Store ponte en contacto con nosotros</span>
        </li>
        <% if(user && user.profile_id == 1) {%>
        <br>   
        <li>
            <a href="/products" class="a-navbar">
            <i class="fa-solid fa-envelope"></i><br>
            <span class="span-bold"><strong>ADMINISTRADORES</strong></span><br>
            <span>Módulo para creación, edición y borrado de productos</span>
            </a>
        </li>        
        <% } %>                         
    </ul>
</footer>