<footer>
    <ul>
        <li>
            <i class="fa-solid fa-address-card"></i><br>
            <span class="span-bold"><strong>REGISTRATE</strong></span><br>
            <span>Registrate para recibir todas las noticias referentes a la Convencion 007</span>
        </li>
        <br>
        <li>
            <i class="fa-sharp fa-solid fa-ticket"></i><br>
            <span class="span-bold"><strong>COMPRA TUS ENTRADAS</strong></span><br>
            <span>Adquiere tus entradas con tarjeta de credito o paypal </span>
        </li> 
        <br>
        <li>
            <i class="fa-solid fa-envelope"></i><br>
            <span class="span-bold"><strong>CONTACTANOS</strong></span><br>
            <span>Si quieres saber mas acerca de la Convencion 007 ponte en contacto con nosotros</span>
        </li>
        <br>   
                                 
    </ul>
</footer>