<footer>
    <ul>
        <li>
            <i class="fa-solid fa-address-card"></i><br>
            <span class="span-bold"><strong>REGISTRY</strong></span><br>
            <span>Complete the registry process to receive all the notifications from Global 007 Store </span>
            <!--<span>Regístrate para recibir todas las noticias referentes a Global 007 Store</span>-->
        </li>
        <br>
        <li>
            <i class="fa-sharp fa-solid fa-ticket"></i><br>
            <span class="span-bold"><strong></strong>BUY TICKETS</span><br>
            <!--<span>Adquiere entradas a eventos únicos con tarjeta de crédito o paypal </span>-->
            <span>Buy tickets for exclusive 007 events around the world</span>
        </li> 
        <br>
        <li>
            <i class="fa-solid fa-envelope"></i><br>
            <!--<span class="span-bold"><strong>CONTÁCTANOS</strong></span><br>-->
            <span class="span-bold"><strong>CONTACT US</strong></span><br>
            <!--<span>Si quieres saber más acerca de la Global 007 Store ponte en contacto con nosotros</span>-->
            <span>For additional information you can contact us by email</span>
        </li>
        <% if(user && user.profile_id == 1) {%>
        <br>   
        <li>
            <a href="/products" class="a-navbar">
            <i class="fa-solid fa-envelope"></i><br>
            <span class="span-bold"><strong>ADMIN MODULE</strong></span><br>
            <!--<span>Módulo para creación, edición y borrado de productos</span>-->
            <span>Create, edit, delete product and users information</span>
            </a>
        </li>        
        <% } %>                         
    </ul>
</footer>