<header>
    <div class="div-mainlogo">
        <img src="/images/logo-2.png" alt="logo-2" class="img-mainlogo">
    </div>
    <div>
        <nav>
            <ul class="main-nav">
                <li style="width:25%"><a href="/" class="a-navbar">HOME</a></li>                
                <li style="width:25%"><a href="/carrito" class="a-navbar">CARRITO</a></li>
                <li style="width:25%"><a href="/users/register" class="a-navbar">REGISTRO</a></li>
                <li style="width:25%"><a href="/users/login" class="a-navbar">LOGIN</a></li>
            </ul>
        </nav>        
    </div>
    
</header>