<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The 007 Convention</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />        
        <script src="https://kit.fontawesome.com/a215289790.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css" >

    </head>
    <body>
        <header>
            <div>
                <img src="images/logo-2.png" alt="logo-2">
            </div>
            <div>
                <nav>
                    <ul class="main-nav">
                        <li style="width:15%"><a>HOME</a></li>
                        <li style="width:25%"><a>PRODUCTOS</a></li>
                        <li style="width:20%"><a>CARRITO</a></li>
                        <li style="width:25%"><a>REGISTRO</a></li>
                        <li style="width:15%"><a>LOGIN</a></li>
                    </ul>
                </nav>
            </div>
            <!--
            <div class="main-nav">
                <div>HOME</div>
                <div>PRODUCTOS</div>
                <div>CARRITO</div>
                <div>REGISTRO</div>
                <div>LOGIN</div>
            </div>
            -->            
        </header>
        <main>
            <div class="div-main-description">
                <h2>Bienvenidos al sitio oficial de la Convención 007</h2>
                <span>El mundo del agente secreto más famoso del mundo</span>
                <span>llega hasta ti en este evento que reunirá a fans de todo el planeta</span>
                <span> y les ofrecerá la oportunidad de sumergirse en el mundo de James Bond </span>
                <span>y estar cerca de las personas </span>
                <span>que crean el mundo del agente 007. </span>
            </div>
            <div class="div-2-cajones">
                <div class="div-2-cajones-A">
                    <img src="images/james_bond_actores_1.jpg" alt="actores-1">
                </div>
                <div class="div-2-cajones-B">
                    <h3>ACTORES Y PRODUCTORES</h3>
                    <span>La Convención 007 dará a los fans la oportunidad de</span>
                    <span> convivir con productores, escritores </span>
                    <span>y hasta algunos de los actores de una de las franquicias </span>
                    <span>cinematográficas más famosas de la historia. </span>
                </div>                
            </div>
            <div class="div-2-cajones">
                <div class="div-2-cajones-B">
                    <img src="images/escenarios-1.jpg" alt="escenarios-1">
                </div>
                <div class="div-2-cajones-B">
                    <h3>ESCENARIOS</h3>
                    <span>Los fans podrán sumergirse </span>
                    <span>en escenarios recreados de algunas </span>
                    <span>de las películas más icónicas de James Bond.</span>
                </div>                
            </div>      
            <div class="div-2-cajones">
                <div class="div-2-cajones-C">
                    <img src="images/autos-1.jpg" alt="escenarios-1">
                </div>
                <div class="div-2-cajones-B">
                    <h3>AUTOS Y GADGETS</h3>
                    <span>Podrán manejar algunos de los autos más famosos de la serie  </span>
                    <span>y jugar con algunos de los gadgets más populares vistos en las películas. </span>
                </div>                
            </div>    
            <div class="div-2-cajones">
                <div class="div-2-cajones-C">
                    <img src="images/fiesta-1.jpg" alt="escenarios-1">
                </div>
                <div class="div-2-cajones-B">
                    <h3>¡FIESTA!</h3>
                    <span>El evento finalizará con una gran fiesta. </span>
                    <span>Tendremos una banda que tocará algunas de las canciones más populares de las películas, </span>
                    <span>tendremos DJ en vivo, habrá rifa de mercancía conmemorativa  </span>
                    <span>y muchas sorpresas más.</span>
                </div>                
            </div>                                 
        </main>
        <footer>
            <ul>
                <li>
                    <i class="fa-solid fa-address-card"></i><br>
                    <span class="span-bold"><strong>REGISTRATE</strong></span><br>
                    <span>Registrate para recibir todas las noticias referentes a la Convencion 007</span>
                </li>
                <br>
                <li>
                    <i class="fa-sharp fa-solid fa-ticket"></i><br>
                    <span class="span-bold"><strong>COMPRA TUS ENTRADAS</strong></span><br>
                    <span>Adquiere tus entradas con tarjeta de credito o paypal </span>
                </li> 
                <br>
                <li>
                    <i class="fa-solid fa-envelope"></i><br>
                    <span class="span-bold"><strong>CONTACTANOS</strong></span><br>
                    <span>Si quieres saber mas acerca de la Convencion 007 ponte en contacto con nosotros</span>
                </li>
                <br>   
                                         
            </ul>
        </footer>
        <p style="text-align:left">Copyright &copy; 2023 Convenciones Internacionales S.R.L.</p>  
    </body>
</html>
