<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body class="body-page-login">
        <%- include('./partials/header') %>
        <main>
            <% if(typeof errors != 'undefined') { %>
                <div class="login-div-errors">
                    <p style="color: tomato; padding-bottom: 10px">There are some errors with the information provided:</p>
                    <ul class="ul-nodots">
                        <% for (let i=0; i < errors.length; i++) { %>
                            <li>
                                <%= errors[i].msg %>
                            </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
            <!--Validaciones front end-->
            <div id="divErroresFrontEnd" class="register-div-errors">
                <p style="color: tomato; padding-bottom: 10px">There are some errors with the information provided:</p>
                <ul id="ulErroresFrontEnd" class="ul-nodots">                    
                
                </ul>
            </div>        
            <form id="formularioLoginUsuarios" action="/users/login" method="POST" class="form-reg-user">
                <input id="formEmail" type="text" name="email" placeholder="User email" class="regular-text">
                <br>
                <input id="formPassword" type="password" name="password" placeholder="Password" class="regular-text">
                <br>
                <label class="label">Remember me</label>
                <input type="checkbox" name="recordar" class="check">
                <br>
                <button id="botonSubmitFormulario" type="submit" class="but-submit">Login</button><br>
            </form>            
        </main>
        <%- include('./partials/footer') %>
        <script src="/js/userLogin.js"></script>        
    </body>
</html>