<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body class="body-page-login">
        <%- include('./partials/header') %>
        <main>
            <form action="/" method="GET" class="form-reg-user">
                <input type="text" name="nombre" placeholder="Nombre de usuario" class="regular-text">
                <br>
                <input type="text" name="apellido" placeholder="Contrasena" class="regular-text">
                <br>
                <button type="submit" class="but-submit">Enviar</button><br>
            </form>            
        </main>
        <%- include('./partials/footer') %>      
    </body>
</html>