<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Product Details</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/stylesProductDetails.css" />
  <script src="https://kit.fontawesome.com/a215289790.js" crossorigin="anonymous"></script>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">-->
</head>

<body>
  <header>
    <div>
        <img src="images/logo-2.png" alt="logo-2">
    </div>
    <div>
      <nav>
          <ul class="main-nav">
              <li style="width:15%"><a href="/" class="a-navbar">HOME</a></li>
              <li style="width:25%"><a href="product" class="a-navbar">PRODUCTOS</a></li>
              <li style="width:20%"><a href="carrito" class="a-navbar">CARRITO</a></li>
              <li style="width:25%"><a href="registro" class="a-navbar">REGISTRO</a></li>
              <li style="width:15%"><a href="login" class="a-navbar">LOGIN</a></li>
          </ul>
      </nav>
  </div>
    <!--
    <div class="main-nav">
        <div>HOME</div>
        <div>PRODUCTOS</div>
        <div>CARRITO</div>
        <div>REGISTRO</div>
        <div>LOGIN</div>
    </div>
    -->            
</header>
  <main class="main">
    <!--sección general del producto-->
    <section class="seccionGeneralProducto">
      <!--sección imágenes del producto-->
      <section class="seccionImagenesDelProducto">
        <!--Sección imagen grande del producto-->
        <section class="seccionImagenPrincipalProducto">
          <div class="divLeftArrowArticuloImagenPrincipalProducto">
            <i class="fa-regular fa-square-caret-left iconoFlecha"></i>
          </div>
          <img src="/images/productDetails/productDetailsSample1.webp" class="imagenPrincipalDelProducto"/>
          <div class="divRightArrowArticuloImagenPrincipalProducto">
            <i class="fa-regular fa-square-caret-right iconoFlecha"></i>
          </div>          
        </section>
        <!--Sección imagenes pequeñas del producto-->
        <section class="seccionImagenesAdicionalesProducto">          
          <article class="articuloImagenAdicionalProducto">            
            <img src="/images/productDetails/productDetailsSample1.webp" class="imagenAdicionalDelProducto"/> 
          </article>
          <article class="articuloImagenAdicionalProducto">
            <img src="/images/productDetails/productDetailsSample1.webp" class="imagenAdicionalDelProducto"/> 
          </article>
          <article class="articuloImagenAdicionalProducto">
            <img src="/images/productDetails/productDetailsSample1.webp" class="imagenAdicionalDelProducto"/> 
          </article>
        </section>
      </section>
      <!--sección descripción y add to cart del producto-->
      <section class="seccionDescripcionYAddToCartDelPropducto">
        <!--sección de descripción del producto-->
        <section class="seccionDescripcionDelProducto">
          <header class="headerDescripcionDelProducto">
            <h1>JAMES BOND SPYMASTER DUO ROLLERBAL -PEN NUMBERED EDITION- BY MONTEGRAPPA</h1>
          </header>
          <!--articulo para describir el producto-->
          <article class="articuloDescripcionDelProducto">
            <p>Please allow two weeks for delivery.
              Introducing the James Bond 007 Spymaster Duo Rollerball Pen by Montegrappa. Inspired by 007, this
              collectors' edition writing instrument is fitting companion for any assignment. In the best traditions of
              James Bond gadgetry, the 007 Spymaster Duo has hidden secrets and is stylishly handmade from precious
              materials in a numbered edition of just 380 pieces.
            </p>
            <br/>
            <p>
              Details. The pen is constructed from high-strength machined steel and aluminium. Its false upper barrel
              conceals a pair of special edition 007 cufflinks which can be
              accessed via a special locking mechanism and dummy blind cap. The steel grip is engraved with its
              individual number. The pen features rifling on the cap and upper barrel which echoes the iconic,
              gun-barrel title sequence. The lower barrel is made of blackened alloy with a knurled, pistol-grip finish.
              Additional product markings include the 007 logo on the blind cap, cufflinks and a chevron pocket-clip,
              and the Bond family crest foil-stamped onto a companion journal. The pen and accessories is housed in a
              custom travel case with a journal and secret compartments.
            </p>
            <br/>
            <p>
              Dimensions. L16.20cm, D1.85cm
            </p>
            <br/>
            <p>
              The makers. Montegrappa has been manufacturing the world’s most magical pens in the same artisanal factory
              for more than a century. Combining luxurious materials, high craftsmanship and unrivalled writing
              pleasure, the independent maker’s quality and individualist flair make it a firm favourite of dignitaries,
              creatives and collectors. All Montegrappa writing instruments are made at the company’s headquarters
              beneath Monte Grappa in Bassano del Grappa, Italy.
            </p>
          </article>
          <!--Precion del producto-->
          <article class="articlePrecioProducto">
            $ 300 
          </article>
        </section>
        <!--sección de adicionar a tarjeta-->
        <section class="seccionAdicionarATarjeta">
          <article class="articuloAdicionarATarjeta">
            <button class="botonAddToCart">-</button>
            <input size="15" />
            <button class="botonAddToCart">+</button>
          </article>
          <article class="articuloAdicionarATarjeta">
            <button class="boton">ADD TO CART</button>
            <button class="boton">VIEW CART</button>
          </article>
        </section>
      </section>
    </section>
  </main>
  <footer>
    <ul>
        <li>
            <i class="fa-solid fa-address-card"></i><br>
            <span class="span-bold"><strong>REGISTRATE</strong></span><br>
            <span>Registrate para recibir todas las noticias referentes a la Convencion 007</span>
        </li>
        <br>
        <li>
            <i class="fa-sharp fa-solid fa-ticket"></i><br>
            <span class="span-bold"><strong>COMPRA TUS ENTRADAS</strong></span><br>
            <span>Adquiere tus entradas con tarjeta de credito o paypal </span>
        </li> 
        <br>
        <li>
            <i class="fa-solid fa-envelope"></i><br>
            <span class="span-bold"><strong>CONTACTANOS</strong></span><br>
            <span>Si quieres saber mas acerca de la Convencion 007 ponte en contacto con nosotros</span>
        </li>
        <br>   
                                 
    </ul>
</footer>
<p style="text-align:left">Copyright &copy; 2023 Convenciones Internacionales S.R.L.</p> 

</body>


</html>