<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
       
        <form action="/products/savenew" method="POST" class="formProductCreate" enctype="multipart/form-data">
            <h3 class="headerDescripcionDelProducto">Registro de nuevo producto</h3>
            <input type="text" name="nombre" placeholder="Nombre del producto" class="formProductCreateEditTextInput">
            <br>
            <textarea id="story" name="descripcion" rows="12" class="formProductCreateEditTextInput" placeholder="Descripción del producto">
            </textarea>            
            <br>
            <input type="number" name="costo" class="formProductCreateEditTextInput" placeholder="Costo del producto">
            <br>
            <h3>Foto del producto</h3>
            <!--<img src="/images/productos/logo-2.png" class="imagenAdicionalDelProducto" />-->
            <img src="/images/productos/logo-2.png" />
            <input type="hidden" name="oldImage" value="/images/productos/logo-2.png">
            <input type="file" name="imagenProducto" id="image" class="formProductCreateEditTextInput" value="/images/productos/logo-2.png" >

            <br>                
            <h3>Fecha de registro del producto</h3>
            <input type="date" name="fechaRegistro" class="formProductCreateEditTextInput">
            <br>            
            <br>                
            <button type="submit">Enviar</button><br>
            <button type="reset">Borrar</button><br>
        </form>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>