<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body class="body-page-register">       
        <%- include('./partials/header') %>

        <main>
            <form action="/" method="GET" class="form-reg-user">
                <input type="text" name="nombre" placeholder="Nombre y apellido" class="regular-text">
                <br>
                <input type="text" name="usuario" class="regular-text" placeholder="Nombre de usuario">
                <br>
                <input type="email" name="usuario" class="regular-text" placeholder="E-mail">
                <br>                
                <h3>Fecha de nacimiento</h3>
                <input type="date" name="nacimiento" class="regular-text">
                <br>
                <input type="text" name="domicilio" class="regular-text" placeholder="domicilio">
                <br>
                <hr>
                <br>
                <label class="regular-label">Contrasena</label><br>
                <input type="password" name="pass1" class="regular-text"><br>
                <label class="regular-label">Confirmar Contrasena</label><br>
                <input type="password" name="pass2" class="regular-text"><br>
                <br>
                <hr>
                <br>                
                <button type="submit">Enviar</button><br>
                <button type="reset">Borrar</button><br>
            </form>
        </main>
        <%- include('./partials/footer') %>       
    </body>
</html>