


.prodindex-div-topsection {
    /*
    font-size: 12px;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content:space-around ;
    color:white;
    background-color: black;
    
    text-align: center;
    
    margin: auto;
    padding-left: 0px;
    */
}

div.prodindex-div-topsection h1, h2, p {
    
    text-align: center;
    
}

.prodindex-div-prodlist {
    width:100%;
    display:flex;
    flex-direction: row;
    list-style-type:none;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    padding-left: 0%;
    /*margin: 5% 10% 0% 5%;*/
}

.prodindex-div-prodlist {
    padding-inline-start: 0%;
    width: 95%;
}

.prodindex-div-prodlist li {
    height: 50px;
    
}

.prodindex-div-prodlist i {
    width: 100%;
    height: 100%;
    display: block;
    
}

.prodindex-div-prodlist a {
    color:black;
}

.prodindex-div-prodlist .linum {
    width:10%;
}

.prodindex-div-prodlist .lidesc {
    width:40%;
    text-align: left;
}

.prodindex-div-prodlist .liid {
    width:10%;
    text-align: left;
}

.prodindex-div-prodlist .liver {
    width:10%;
}

.prodindex-div-prodlist .liedit {
    width:10%;
    display: block;
}

.prodindex-div-prodlist .lidel {
    width:20%;
}

.prodindex-div-prodlist div {
    width:10%;
    display: block;
}

#prodindex-but-agregar {
    width:20%;
}
