* {
    box-sizing: border-box;
}

html {
    font-family: "Georgia", Cambria, Times New Roman, Times, serif;    
    font-size: 16px;
}

.div-mainlogo {
    width:50%;
    margin: auto;
}
/*body {
    max-width: 1080px;
    margin: auto;
    padding: 3vw;
}*/

img {
    width:100%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin:10px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 15px;
}

footer li {
    margin: 20px;
}


a {
    color:white;
    text-decoration: none;
}


.main-nav {
    font-size: 12px;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content:space-around ;
    color:white;
    background-color: black;
    text-align: center;
    padding-left: 0px;
}

.main-nav li {
    padding: 5px;
    border-right: solid white 3px;
    text-align: center;
    width: 20%;
}

.main-nav div{
    text-align: center;
    margin: 5px 0px;
    width: 20%;
}

.div-main-description {

    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.div-2-cajones {
    display: flex;
    flex-direction: column;    
    text-align: center;
    padding: 10px;
}

.body-page-register input, button {
    width: 100%;
    padding:5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    
}

.body-page-login input, button, select {
    width: 100%;
    padding:5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    
}

.form-reg-user {
    /*text-align: center;*/
    width: 80%;
    margin: auto;
    max-width: 400px;
}

.form-reg-user  {
    .label {
        text-align: left;
        margin: 10px 10px;
        width: fit-content;
    }

    .check {
        text-align: left;
        margin: 10px 10px;
        width: 10%;        
    }
}

.form-reg-user button {
    width: 100%;
}

.form-reg-user button:hover {
    width: 100%;
    color: white;
    background-color: black;
}

.profile-div-main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;

    .profile-div-black {
        background-color: black;
        color: white;
        width: 50%;
        display:inline; 
        border: solid 2px black;
        padding: 10px;
    }

    .profile-div-white {
        background-color: white;
        color: black;
        width: 50%;
        display:inline; 
        border: solid 2px black;   
        padding: 10px;    
    }  
    
}

.profile-div-h2 {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    max-width: 400px;   
    

}

.login-div-errors {
    text-align: center;
    width: 80%;
    margin: auto;
    max-width: 400px;   

    .ul-nodots {
        list-style: none;
    }
}

.register-div-errors {
    text-align: left;
    width: 80%;
    margin: auto;
    max-width: 400px;   

    .ul-nodots {
        list-style: none;
    }
}


@media (min-width:900px) {
    footer ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .div-mainlogo {
        width:450px;
        /*margin: auto;*/
    }

}