/* html {
    width:100vw;
} */

/* img {
    width:100%;
} */


/*
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #e6e9f1;
}
*/

a:not(.a-navbar) {
    padding: 0 20px;
    text-decoration: none;
    color: #25272a;
    font-family: 'Rubik', sans-serif;
    transition: 0.3s ease-in-out;
    font-size: 17px;
}

h3 {
    margin: 0;
}

a:hover {
    color: #8d949d;
    transform: scale(1.1);
}

.header {
    /* width: 100vw; */
    /*height: 70px;*/
    background-color: #e6e9f1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    /*padding: 0 20px;*/
}

.section-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*
    height: calc(100vh - 70px);
    */
}

.section-body-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: calc(100vh - 70px);*/
    background-color: #fff;
}

.text-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    /*height: 100%;*/
    justify-content: center;
}

.text1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    font-size: 30px;
    color: #4a525d;
    font-family: 'Ubuntu', sans-serif;
}

.text2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 160px;
    color: #4a525d;
    font-family: 'Ubuntu', sans-serif;
}

.text3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    font-size: 30px;
    color: #4a525d;
    font-family: 'Ubuntu', sans-serif;
}

.text-in {
    margin: 0;
}

.cont-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-bottom {
    margin: 0 0 40px 0;
    background-color: #4a525d;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.button-bottom:hover {
    background-color: #787f89;
}

.button-bottom:active {
    box-shadow: 0px -2px 18px -2px rgba(0, 0, 0, 0.35) inset;
    -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.35) inset;
    -moz-box-shadow: 0px -2px 18px -2px rgba(0, 0, 0, 0.35) inset;
    background-color: #fff;
    color: #4a525d;
}

.cont-cart {
    width: 100%;
    flex: column;
}

.title {
    width: 100%;
}

.text-title {
    font-family: 'Rubik', sans-serif;
    color: #4a525d;
    text-align: center;
    font-size: 35px;
}

.cont-image {
    width: 160px;
    height: 160px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
}

.second-title {
    width: 100%;
}

.text-second-title {
    font-family: 'Rubik', sans-serif;
    color: #4a525d;
    font-size: 20px;
}

.cont-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /*height: 160px;*/
}

.cont-info-product {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.text-info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-info-product-top {
    display:flex;
    flex-direction: column;
    margin: 20px 10px;
}

.text-info {
    font-family: 'Rubik', sans-serif;
    color: #798089;
    font-size: 16px;
}



.text-amount {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.title-amount {
    margin-right: 40px;
}

.button-min-max {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-min,
.button-max {
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.text-price-unit {
    display: flex;
    flex-direction: row;
    /*justify-content: end;*/
}

.margin-bottom {
    margin-bottom: 10px;
}

.cont-summary-total {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100%;*/
}

.text-title-product,
.text-total-product {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.button-total {
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #4a525d;
    color: #fff;
    width: 200px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: 0.1s ease-in-out;
}

.button-total:hover {
    background-color: #787f89;
    ;
}

.button-total:active {
    box-shadow: 0px -2px 18px -2px rgba(0, 0, 0, 0.35) inset;
    -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.35) inset;
    -moz-box-shadow: 0px -2px 18px -2px rgba(0, 0, 0, 0.35) inset;
    background-color: #fff;
    color: #4a525d;
}

.cont-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.card1,
.card2,
.card3 {
    width: 200px;
    height: 250px;
    border-radius: 7px;
    background-color: #e6e9f1;
    transition: 0.5s ease-in-out;
    margin-bottom: 10px;
}
.card1:hover,
.card2:hover,
.card3:hover{
    transform: scale(1.1);
    
}
.cont-image-card{
    width: 100%;
}

.image-card {
    width: 100%;
    border-radius: 7px 7px 0 0;
}


.text-card {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.text-1 {
    margin: 5px;
    font-family: 'Rubik', sans-serif;
    color: #4a525d;
    font-size: 15px;
}

@media (min-width:400px) {
    .cont-cards {
        flex-direction: row;
    }
}

@media (min-width:600px) {
    .cont-product {
        flex-direction: row;
    }

    .cont-info-product {
        
        flex-direction: row;
    }

    /*
    .cont-info-product-top {
        display:flex;
        flex-direction: row;
    }
    */
    .text-title-product,
    .text-total-product {

        justify-content: space-between;
    }
}